/* Variables */
:root {
  --basic-black: #0A0A0A;
  --basic-white: #FFFAFA;
  --basic-blue: #003153;
  --basic-extra-blue: #002F55;
  --basic-red: #E63244;
  --special: #ED760E;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

/* Global */
.page-body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation-wrapper {
  background-color: var(--basic-blue);
  opacity: 0.7;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--special);
}

/* Header */
.header-socials {
  text-align: center;
}

.header-socials ul {
  list-style: none;
}

.social-link {
  color: inherit;
}

.social-link:hover,
.social-link:focus {
  color: var(--special);
}

.header-phone {
  color: var(--basic-white);
}

.phone:before {
  content: "";
  background-image: url(../img/phone.svg);
  background-size: cover;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.main-header .content-container {
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-header-heading {
  font-family: 'Playfair Display', Times New Roman, serif;
  font-size: 65px;
  line-height: 65px;
  margin: 0;
  color: white;
}

/* Main screen */
.main_screen {
  background-image: url(../files/children_learn_english.jpg);
  background-repeat: no-repeat;
  height: 658px;
}

h1 {
  font-family: 'Playfair Display', Times New Roman, serif;
  font-size: 80px;
  line-height: 76px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

/* Button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Courses */
.courses h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.courses-list {
  list-style: none;
}

.courses-item {
  text-align: center;
}

.courses-item h3 {
  font-size: 30px;
  line-height: 42px;
}

/* Students */

.students {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.students h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.students span {
  font-weight: 700;
}

/* News */
.news h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.news-list {
  list-style: none;
}

.news-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.news-link:hover,
.news-link:focus {
  background-color: var(--special);
}

/* Contacts */
.contacts-list {
  list-style: none;
}

.contacts_list_item_paragraph {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
}

.contacts_list_item_paragraph:active {}

.contacts_list_item_paragraph:hover {}

.contacts-phone {
  color: inherit;
}

/* Карта проезда */
#wrapMap {
  position: relative;
  cursor: help;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
}

.mapTitle {
  position: absolute;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
  display: none;
  padding: 5px 20px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
}

/* Main footer */
.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus {
  color: var(--special);
}

.footer_navigation_list {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

/* Social button */
.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  color: var(--special);
}
