/* Variables */
:root {
  --basic-black: #0A0A0A;
  --basic-white: #FFFAFA;
  --basic-blue: #003153;
  --basic-extra-blue: #002F55;
  --basic-red: #E63244;
  --special: #ED760E;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main screen */

.main-screen {
  background-image: url(../img/children_learn_english.jpg);
  background-repeat: no-repeat;
  height: 800px;
}

/* Main header-top */

.main-header-top {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-socials {
  width: 70x;
  text-align: center;
  justify-self: center;
}

.header-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-header-logo {
  width: 97px;
  height: 90px;
  justify-self: center;
}

.header-phone {
  padding-left: 35px;
  color: var(--basic-white);
  position: relative;
  font-size: 20px;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Main navigation */
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
  background-color: var(--basic-blue);
  opacity: 0.8;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: 0;
  padding: 0;
  min-height: 70px;
  list-style: none;
  text-transform: uppercase;
  /* outline: 5px solid red; */
}

.site-navigation a {
  display: block;
  padding: 25px 20px;
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--special);
  /* background-color: var(--basic-extra-blue); */
}

/* Header */
.main-header {
  margin-bottom: 70px;
}

/* Container */
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Main screen */
.main_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Playfair Display', Times New Roman, serif;
  font-size: 80px;
  line-height: 76px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

/* Button */
.button {
  display: inline-block;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/* Courses */
.courses {
  margin-bottom: 80px;
}

.courses h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.courses-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.courses-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  /* outline: 5px solid red; */
}

.courses-item h3 {
  font-size: 30px;
  line-height: 42px;

  /* outline: 5px solid red; */
}

.courses-item h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: var(--basic-black);
  transform: rotate(45deg);
}

.courses-item p {
  margin: 0 10px;
}

/* Students */
.students {
  padding: 30px;
  margin-bottom: 80px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.students h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.students span {
  font-weight: 700;
}

/* Index columns */
.index-columns {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;
}

/* News */
.news {
  width: 620px;
}

.news h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-link {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.news-link:hover,
.news-link:focus {
  background-color: var(--special);
}

/* Gallery */
.gallery {
  width: 500px;
  /* outline: 5px solid red; */
}

.gallery-container {
  position: relative;
  height: 500px;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.gallery h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

/* Contacts */
.contacts h2 {
  font-family: 'Spectral SC', Georgia, serif;
  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
}

.contacts-container {
  width: 600px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-list {
  list-style: none;
}

.contacts span {
  font-weight: 700;
}

.contacts-phone {
  color: inherit;
}

.contacts-mail {
  color: inherit;
}

/* Main footer */
.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-footer-logo {
  margin: 0;
  width: 100px;
}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
}

.main-footer ul {
  list-style: none;
}

.main-footer a:hover,
.main-footer a:focus {
  color: var(--special);
}

.main-footer-navigation {
  width: 600px;
  justify-self: center;
}

.footer-socials {
  width: 65px;
  text-align: center;
  justify-self: center;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: inherit;
}

.social-link:hover path,
.social-link:focus path {
  fill: var(--special);
}
